header{
	
	background-image:url(./ull.jpg);
	
}




.chal{

border: 3px solid gold;





}

h2{
padding-left: 240px;
color: white;

}

h1{

	color: yellow;
	padding-left: 10px;
}
h3 a{

color: white;
padding-left: 10px;

}
.as{
border:5px solid black;
height: 800px;

}
